# Виртуальное окружение
venv/

# Файлы окружения
.env

# Логи и временные файлы
*.log

# Компилированные файлы Python
*.pyc
__pycache__/

# Миграции Django
**/migrations/

# Медиафайлы
media/

# Файлы системы
.DS_Store
Thumbs.db
